@import url('https://fonts.googleapis.com/css2?family=Mallanna&family=Open+Sans:wght@800&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Mallanna', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: url('rcs/fondoAs.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}
.container{
    background-color: transparent;
    border: 2px solid #3ADF00 ;
    width: 360px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 5);
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
}
.eje{
    position: absolute;
    bottom: 25%;
    right: 50%; 
    color: #fff;
    text-decoration: none;
}
.btn{
    background-color:#3ADF00 ;
    color: #fff;
    border-radius: 5px;
    font-family: 'Mallanna', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;

}
#botonIdentificarTipo {
    margin-top: 20px; 
}
.title{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
}
#valor{
    background-color: transparent;
    border: 2px solid #3ADF00;
    color: #fff;
    font-family: 'Mallanna', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}


